.art-tables {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 5vw;
}

.art-tables > section > h4 {
  text-align: center;
}

.hide-thead {
  display: none;
}

table {
  min-width: 300px;
  border: none;
  border-collapse: collapse;
}

tr:nth-child(odd) {
  background-color: rgb(244, 239, 232);
}

td {
  padding: 4px;
  padding-left: 14px;
}

@media only screen and (max-width: 1000px) {
  .art-tables {
    margin-top: 50px;
    flex-direction: column;
  }
}