main {
  max-width: 710px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 50px;
  row-gap: 25px;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.page-link {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-decoration: none;
}

.page-link-img {
  width: 200px;
  height: 340px;
  border: 1px solid black;
  object-fit: cover;
}

#left {
  object-position: 0 0;
}

.page-link-meta {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}

.show-on-hover {
  opacity: 0;
  transform: scaleY(0);
  transition: all 0.3s linear;
}

.page-link:hover > div > .show-on-hover {
  opacity: 1;
  transform: scaleY(1);
}

@media only screen and (max-height: 800px) {

  .page-link-img {
    height: 200px;
  }
}

@media only screen and (max-width: 720px) {
  body {
    flex-direction: column;
    justify-content: flex-start; /*otherwise it will overfow top to center elements*/
  }

  .logo {
    position: relative;
    margin: 20px;
  }

  main {
    grid-template-columns: 1fr;
    row-gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .page-link-img {
    height: 200px;
  }
}
