main {
  width: 100vw;
  height: 100vh;
}

.go-back {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
  text-decoration: none;
}

.go-back > p {
  display: inline-block;
  font-size: 20px;
}

.page-content {
  margin-left: 30vw; /*compensate fixed img*/
  width: 60vw;
  padding: 5vw;
}

@media only screen and (max-width: 1000px) {
  body {
    flex-direction: column;
  }

  .page-content {
    margin-left: 0; /**fixed img moved to top*/
    width: 90vw;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
  }
}