.main-img {
  position: fixed;
  width: 30vw;
  height: 100vh;
  background-image: url("../img/space.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 1000px) {
  .main-img {
    position: relative;
    width: 100vw;
    height: 80px;
    background-position: bottom;
  }
}